
        <!-- breadcrumbs area start -->
        <div class="title-breadcrumbs">
            <div class="title-breadcrumbs-inner">
                <div class="container">
                    <nav class="woocommerce-breadcrumb">
                        <a href="#">Home</a>
                        <span class="separator">/</span> Wishlist
                    </nav>
                </div>
            </div>
        </div>
        <!-- breadcrumbs area End -->
        <!--Wishlist Area Strat-->
        <div class="wishlist-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="pg___title">
                            <h2>Wishlist</h2>
                        </div>
                        <form action="#">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="anadi-product-remove">remove</th>
                                            <th class="anadi-product-thumbnail">images</th>
                                            <th class="cart-product-name">Product</th>
                                            <th class="anadi-product-price">Unit Price</th>
                                            <th class="anadi-product-stock-status">Stock Status</th>
                                            <th class="anadi-product-add-cart">add to cart</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="anadi-product-remove">
                                                <a href="#">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                            <td class="anadi-product-thumbnail">
                                                <a href="#">
                                                    <img src="assets/img/products/product2.jpg" alt="">
                                                </a>
                                            </td>
                                            <td class="anadi-product-name">
                                                <a href="#">Nullam maximus</a>
                                            </td>
                                            <td class="anadi-product-price">
                                                <span class="amount">$23.39</span>
                                            </td>
                                            <td class="anadi-product-stock-status">
                                                <span class="in-stock">in stock</span>
                                            </td>
                                            <td class="anadi-product-add-cart">
                                                <a href="#">add to cart</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="anadi-product-remove">
                                                <a href="#">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                            <td class="anadi-product-thumbnail">
                                                <a href="#">
                                                    <img src="assets/img/products/product1.jpg" alt="">
                                                </a>
                                            </td>
                                            <td class="anadi-product-name">
                                                <a href="#">Natus erro</a>
                                            </td>
                                            <td class="anadi-product-price">
                                                <span class="amount">$30.50</span>
                                            </td>
                                            <td class="anadi-product-stock-status">
                                                <span class="in-stock">in stock</span>
                                            </td>
                                            <td class="anadi-product-add-cart">
                                                <a href="#">add to cart</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="anadi-product-remove">
                                                <a href="#">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                            <td class="anadi-product-thumbnail">
                                                <a href="#">
                                                    <img src="assets/img/products/product3.jpg" alt="">
                                                </a>
                                            </td>
                                            <td class="anadi-product-name">
                                                <a href="#">Sit voluptatem</a>
                                            </td>
                                            <td class="anadi-product-price">
                                                <span class="amount">$40.19</span>
                                            </td>
                                            <td class="anadi-product-stock-status">
                                                <span class="out-stock">out stock</span>
                                            </td>
                                            <td class="anadi-product-add-cart">
                                                <a href="#">add to cart</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Wishlist Area End-->
       